<template>
    <div class='row'>
        <br>
        <form action="#" @submit.prevent="createResult()">
            <div class="input-group">
                <input v-model="result.link" type="text" name="link" class="form-control" autofocus>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Получить данные</button>
                </span>
            </div>
        </form>
        <h4>All Results</h4>
        <div>If some field is empty may be your IP is block(</div>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(result, index) in list">
      <td>{{ result.id }}</td>
      <td>{{ result.name }}</td>
      <td>{{ result.phone}}</td>
      <td>{{ result.link}}</td>
    </tr>
  </tbody>
</table>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                list: [],
                result: {
                    id: '',
                    link: ''
                }
            };
        },
        
        created() {
            this.fetchResultList();
        },
        
        methods: {
            fetchResultList() {
                axios.get('api/results').then((res) => {
                    this.list = res.data;
                });
            },
 
            createResult() {
                axios.post('api/results', this.result)
                    .then((res) => {
                        this.result.link = '';
                        this.edit = false;
                        this.fetchResultList();
                    })
                    .catch((err) => console.error(err));
            },
        }
    }
</script>
</script>